$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1rem;
$flexboxgrid-outer-margin: 1rem;

.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
}

.section-projects {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
}