// $color-primary: #A55EEA;
// $color-primary-light: #BC85F2;
// $color-primary-dark: #7519CE;

// $color-primary: #e67e22;
// $color-primary-light: #F49C4D;
// $color-primary-dark: #B95E0D;

$color-primary: #1e90ff;
$color-primary-light: #75bafd;
$color-primary-dark: #0169ce;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: black;

$color-green-1: #0be10b;

// $color-green-1: #20bf6b;
